@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
}


@keyframes cloudMovement {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.hero-section {
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-position: 0 0;
  animation: cloudMovement 30s linear infinite; /* 30s for full loop, adjust as needed */
}

@font-face {
  font-family: "Pokemon";
  src: url("./assets/pokemon.ttf") format("truetype");
}

html {
  font-family: "Pokemon", sans-serif;
}
